.badge-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem;
    justify-content: center;
    align-content: center;
}

.badge-form input:nth-of-type(1) {
    margin-top: 2rem;
}

.badge-form label {
    margin-bottom: 0.2rem;
    margin-top: 2rem;
}

.upload-button {
    background: transparent;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    margin-top: 2rem;
    padding: 0.5rem;
    max-width: 15rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.7rem;
}

.upload-button:hover {
    cursor: pointer;
}

.range {
    border: 0;
}

input[type=range] {
    height: 14px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #1A1A1A;
    border-radius: 1px;
    border: 1px solid #FEFEFE;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #FEFEFE;
    height: 7px;
    width: 7px;
    border-radius: 6px;
    background: #fefefe;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1A1A1A;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #1A1A1A;
    border-radius: 1px;
    border: 1px solid #FEFEFE;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #FEFEFE;
    height: 7px;
    width: 7px;
    border-radius: 6px;
    background: #fefefe;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #1A1A1A;
    border: 1px solid #FEFEFE;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #1A1A1A;
    border: 1px solid #FEFEFE;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #FEFEFE;
    height: 7px;
    width: 7px;
    border-radius: 6px;
    background: #fefefe;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #1A1A1A;
}

input[type=range]:focus::-ms-fill-upper {
    background: #1A1A1A;
}

