.flash-cards-container{
    margin: 2rem auto;
}

.flash-cards{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;

}

