

*{
    color: #d9d9d9;
}

html{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
    display: block;
    background-color:#161616;
    background-image: radial-gradient(#303030 1px, transparent 1px );
    background-size: 30px 30px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 50px;
    max-width: 1200px;
    min-width: 250px;
    padding: 0 5rem;
    margin: 0 auto;
}

.divider{
    border-bottom: 1px solid rgb(70, 70, 70);
    position: relative;
}

.divider-container{
    padding: 0 5rem;
    max-width: 1200px;
    min-width: 250px;
    margin: 0 auto;
}


main{
    margin: 0;
    padding: 0;
    display: block;
}

#logo{
    height: 30px;
    max-height: 30px;
}

.top-header-content{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3px 0;
    height: 100%;
    width: auto;
    
}

nav a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
}


.content{
    position: absolute;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    padding: auto;
}

.info{
    display: flex;
    padding-top: 5rem;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

#description{
    font-size: 1em;
    font-weight: 300;
}

nav a:nth-of-type(2)::before{
    content: "/";
    padding: 0 1rem;
}

#profile-pic{
    width: 150px;
    height: 150px;
    filter: grayscale(100%);
    border-radius: 50%;
    object-fit: cover;
}

.fa-hand-wave{
    color:#d9d9d9;
}

.pres-card{
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 3em;
}

.gradient{
    background-clip: inherit;
    background: -webkit-linear-gradient(0deg ,#eee 33%, #5f5f5f 66%, #2c2c2c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills{
    height: 8rem;
    background-color: rgba(26, 26, 26, 0.7);
    position: relative;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: calc(250px * 40);
    animation: slide 20s linear infinite;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 10));
    }
}

.slide{
    height: 100%;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.carousel-img {
    filter: invert(83%) sepia(57%) saturate(0%) hue-rotate(143deg) brightness(96%) contrast(88%);
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.space {
    width: 100px; /* Larghezza desiderata dello spazio tra le immagini */
    background-color: red;
    
}

.text-desc{
    margin: 5rem 0 1rem 0;
    font-weight: 300;
}

.flash-cards{
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.flash-card{
    height: 15rem;
    width: 13rem;
    background-color: rgba(26, 26, 26, 0.7);
    text-align: left;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
}

.flash-card i{
    font-size: 2em;
    position: absolute;
    top: 5.5rem;
}

.flash-card p{
    font-size: 0.8em;
    font-weight: 400;
    word-spacing: 0.1px;
    position: absolute;
    top: 9rem;
    width: 200px;
}

.flash-card h3{
    font-weight: 900;
    position: absolute;
    top: 7rem;
}

.cards{
    width: 100%;
}

.contacts{
    padding: 10rem 5rem;
    margin-bottom: 5rem;
}

.mail-container{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail-button-wrapper{
    background-color: #1a1a1a;
    height: 4rem;
    width: 10rem;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    transition: 0.5s;
}

.mail-button-wrapper:hover{
    
    width: 8.75rem;
    height: 3.5rem;
    font-size: 0.875em;
}

.mail-button-wrapper a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mail-button-wrapper a span{
    margin-right: 1rem;
}

.footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding: 0 5rem;
    height: 50px;
    max-width: 1200px;
    min-width: 250px;
    margin: 0 auto;
    bottom: 0;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 100%;
}

.rights{
    font-size: 1em;
    font-weight: 400;
}



@media screen and (max-width: 990px) {
    header{
        padding: 0 1rem;
        font-size: 0.8em;
    }

    .divider-container{
        padding: 0 1rem;
    }

    #profile-pic{
        height: 100px;
        width: 100px;
    }

    #description{
        font-size: 1em;
    }

    .pres-card{
        font-size: 2em;
    }

    .flash-card p{
        width: 10rem;
    }

    .footer{
        padding: 0 1rem;
        font-size: 0.8em;
    }

    .carousel {
        width: calc(100px * 40);
    }
    
    @keyframes slide{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-100px * 10));
        }
    }
    
    .slide{
        width: 100px;
        height: 100%;
    }

    .skills{
        height: 4rem;
    }

    .carousel-img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 600px) and (max-width: 991px) {
    header{
        padding: 0 1rem;
        font-size: 1em;
    }

    .divider-container{
        padding: 0 1rem;
    }

    #profile-pic{
        height: 150px;
        width: 150px;
    }

    #description{
        font-size: 1em;
    }

    .pres-card{
        font-size: 3em;
    }

    .flash-card p{
        width: 12rem;
    }

    .footer{
        padding: 0 1rem;
        font-size: 0.8em;
    }

    .carousel {
        width: calc(250px * 40);
    }
    
    @keyframes slide{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-250px * 10));
        }
    }

    .skills{
        height: 8rem;
    }
    
    .slide{
        width: 250px;
    }

    .carousel-img {
        width: 100%;
        height: 100%;
    }

}