.generic-button {
    background-color: var(--button-background);
    margin: 0 auto;
    position: relative;
    border: 0;
    transition: 0.5s;
    color: var(--global-background);
}

.generic-button:hover {
    cursor: pointer;
}