.pres-card{
    text-align: center;
    margin: 0;
}

.gradient{
    background-clip: inherit;
    background: -webkit-linear-gradient(0deg ,var(--text-color) 50%, #2c2c2c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}