header{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 2rem;
    max-width: var(--max-width);
    min-width: var(--min-width);
    padding: 0 5rem;
    margin: 0 auto;
}

.top-header-content{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3px 0;
    height: 100%;
    width: auto;

}

#logo{
    height: 1.5rem;
    max-height: 1.5rem;
    object-fit: cover;
}

.header-nav a{
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 400;
}

.header-nav button {
    border: 0;
    background: transparent;
    font-size: 0.75rem;
    cursor: pointer;
}

.header-nav a:nth-of-type(1)::after, .header-nav a:nth-of-type(2)::after {
    content: "/";
    padding: 0 1rem;
}