.modal-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(26, 26, 26, 0.8);
    z-index: 9999;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
}

.button-container {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    gap: 2rem;

}

.general-input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--text-color);
    width: 100%;

}

.general-input:focus {
    outline: none !important;
}

.close-btn-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 0.5rem;
    top: 0.5rem;
}

