:root {
    --text-color: #CDCDCD;
    --global-background: #17181D;
    --card-background: #292C35;
    --button-background: #E09145;
    --button-background-rgba: rgba(224, 145, 69, 0.5);
    --max-width: 70rem;
    --min-width: 2rem;
    --modal-width: 20rem;
    --padding-full: 12rem;
}


*{
    color: var(--text-color);
}

html{
  font-size: 20px;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif;
  display: block;
    background-color: var(--global-background);
  background-image: radial-gradient(#303030 0.7px, transparent 0.7px );
  background-size: 25px 25px;
}

main{
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  text-align: center;
    align-items: center;
    justify-content: center;
}

.text-desc{
  margin: 5rem 0 1rem 0;
  font-weight: 300;
}

.pres-card{
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 3em;
}

.modal {
    background-color: var(--card-background);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    min-width: var(--modal-width);
    max-width: var(--modal-width);
}

@media only screen and (max-width: 600px){
    html{
        font-size: 15px;
    }

    :root{
        --padding-full: 2rem;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 600px){
    html{
        font-size: 18px;
    }

    :root{
        --padding-full: 7rem;
    }
}
